.app.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #ccc;

    --primary-color: #00ff00;
    --secondary-color: #009900;

    --inverted-primary-color: #000000b8;
    --inverted-secondary-color: #222222de;
}