.app.dark {
    --bg-color: #000;
    --inverted-bg-color: #7a7a7a;
    --primary-color: #7a7a7a;
    --secondary-color: #575757;
    --inverted-primary-color: #232323;
    --inverted-secondary-color: #464646;
}