.app.light {
    --bg-color: #e5d9f2;
    --inverted-bg-color: #7371fc;

    --primary-color: #a594f9;
    --secondary-color: #cdc1ff;

    --inverted-primary-color: #e5d9f2;
    --inverted-secondary-color: #7371fc;
}