.Button {
    color: var(--inverted-bg-color);
    cursor: pointer;
}

.clear {
    padding: 0;
    border: none;
    margin: 0;
    background: none;
    outline: none;
}

.outline {
    padding: 16px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 16px;
    background: none;
    outline: none;
}